* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #f3f3f3;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,118,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem;
}

.card {
    background: #6DA3A5;
    color: white;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,118,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}