body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background: rgb(230, 238, 174);
    background: radial-gradient(circle, rgba(230, 238, 174, 1) 0%, rgba(233, 163, 148, 1) 100%);
    color: black;
    padding: 1rem;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

.animated-element {
    width: 100px;
    height: 100px;
    background-color: orange;
    color: #fff;
    display: inline-block;
    margin: 10px;
    line-height: 100px;
    font-size: 18px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}


.animated-element:hover {
    transform: scale(2);
    background-color: #ff6347;
}

footer {
    background: rgb(230, 238, 174);
    background: radial-gradient(circle, rgba(230, 238, 174, 1) 0%, rgba(233, 163, 148, 1) 100%);
    color: black;
    text-align: center;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}